extends layout

block content
    // Navigation
    a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
      i.fa.fa-bars
    nav#sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='#top', onclick='$("#menu-close").click();') iNeed / iHave
        li
          a(href='#top', onclick='$("#menu-close").click();') Home
        li
          a(href='#about', onclick='$("#menu-close").click();') About
        li
          a(href='#services', onclick='$("#menu-close").click();') Services
        li
          a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
        li
          a(href='#contact', onclick='$("#menu-close").click();') Contact
    // Header
    header#top.header
      .text-vertical-center
        h1 iNeed / iHave
        h3 Bringing fun towards the exchange of goods amongst your neighbors.
        br
        a.btn.btn-dark.btn-lg(href='#about') Find Out More
    // About
    section#about.about
      .container
        .row
          .col-lg-12.text-center
            h2 iNeed / iHave is the world's leading exchange app.
            p.lead
              | Copyright 2016. All rights reserved. 
        // /.row
      // /.container
    // Services
    // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
    section#services.services.bg-primary
      .container
        .row.text-center
          .col-lg-10.col-lg-offset-1
            h2 Our Services
            hr.small
            .row
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-cloud.fa-stack-1x.text-primary
                  h4
                    strong Service Name
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='#') Learn More
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-compass.fa-stack-1x.text-primary
                  h4
                    strong Service Name
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='#') Learn More
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-flask.fa-stack-1x.text-primary
                  h4
                    strong Service Name
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='#') Learn More
              .col-md-3.col-sm-6
                .service-item
                  span.fa-stack.fa-4x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shield.fa-stack-1x.text-primary
                  h4
                    strong Service Name
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  a.btn.btn-light(href='#') Learn More
            // /.row (nested)
          // /.col-lg-10
        // /.row
      // /.container
    // Callout
    aside.callout
      .text-vertical-center
        h1 Vertically Centered Text
    // Portfolio
    section#portfolio.portfolio
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h2 Our Work
            hr.small
            .row
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-1.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-2.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-3.jpg')
              .col-md-6
                .portfolio-item
                  a(href='#')
                    img.img-portfolio.img-responsive(src='images/portfolio-4.jpg')
            // /.row (nested)
            a.btn.btn-dark(href='#') View More Items
          // /.col-lg-10
        // /.row
      // /.container
    // Call to Action
    aside.call-to-action.bg-primary
      .container
        .row
          .col-lg-12.text-center
            h3 The buttons below are impossible to resist.
            a.btn.btn-lg.btn-light(href='#') Click Me!
            a.btn.btn-lg.btn-dark(href='#') Look at Me!
    // Map
    section#contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    // Footer
    footer
      .container
        .row
          .col-lg-10.col-lg-offset-1.text-center
            h4
              strong iNeed / iHave
            p
              | 3481 Melrose Place
              br
              | Beverly Hills, CA 90210
            ul.list-unstyled
              li
                i.fa.fa-phone.fa-fw
                |  (123) 456-7890
              li
                i.fa.fa-envelope-o.fa-fw
                a(href='mailto:unineed1@gmail.com') unineed1@gmail.com
            br
            ul.list-inline
              li
                a(href='#')
                  i.fa.fa-facebook.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-twitter.fa-fw.fa-3x
              li
                a(href='#')
                  i.fa.fa-dribbble.fa-fw.fa-3x
            hr.small
            p.text-muted Copyright © iNeed / iHave 2016
    // jQuery
    script(src='javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Custom Theme JavaScript
    script.
      // Closes the sidebar menu
      $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Opens the sidebar menu
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
      // Scrolls to the selected menu item on the page
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
